body {
    background-color: aquamarine;
    text-align: center;

    form {
        inline-size: 170px;
        overflow-wrap: break-word;
        text-align: center;

        input{
            height: 30px;
        }

        .button{
            width: 100px;
            height: 30px;
            margin-top: 5px;
            background-color: aqua;
            border-radius: 5px;
            border: none;
        }
    }

}